/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --main-font: 'Inter';
    --main-font-weight: 400;

    --accent-font: 'PressStart 2P';
    --accent-font-weight: 700;

    --background-color: #fff;
    --main-color: #000;

    --border: 2px solid var(--main-color);

    --background-image:
        repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
        repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
        linear-gradient(#e7e7e7 0.01%, #1a1a1a);
}